@model FeedbackModel

@{
    ViewData["Title"] = "Frequently asked questions";
}

<div class="bg-white mt-6">
    <div class="items-center flex-1 justify-center px-6 sm:px-0">
        <div class="h-8 w-102 flex rounded-lg shadow-lg bg-white sm:mx-0" style="height: 580px">
            <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg" style="background: url('https://images.unsplash.com/photo-1494208133010-7227229a632a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80'); background-size: cover; background-position: center center;"></div>
            <div class="flex flex-col w-full md:w-full p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="text-4xl text-center font-thin">Feedback achterlaten</h1>
                            <section>
                                <div class="w-full mt-4">
                                    <form asp-action="Index" class="form-horizontal w-3/4 mx-auto" id="account" method="post">
                                        <h4>Bedankt dat je wat tijd vrij maakt om ons een stukje verder te helpen!</h4>
                                        <hr/>
                                        <div class="form-group flex flex-col mt-4">
                                            <label asp-for="Naam"></label>
                                            <input asp-for="Naam" class="box-border h-8 w-102 p-4 flex-grow h-8 px-2 border rounded border-grey-400 form-control" />
                                            <span asp-validation-for="Naam" class="font-bold text-sm font-medium text-red-700"></span>

                                            <label asp-for="To"></label>
                                            <input asp-for="To" class="box-border h-8 w-102 p-4 flex-grow h-8 px-2 border rounded border-grey-400 form-control" />
                                            <span asp-validation-for="To" class="font-bold text-sm font-medium text-red-700"></span>

                                            <div class="form-group flex flex-col mt-4">
                                                <label asp-for="Body"></label>
                                                <textarea asp-for="Body" rows="3" class="box-border w-102 p-4 flex-grow px-2 border rounded border-grey-400 form-control"></textarea>
                                                <span asp-validation-for="Body" class="font-bold text-sm font-medium text-red-700"></span>
                                            </div>

                                            <div class="flex flex-col mt-8 form-group">
                                                <button type="submit" class="btn btn-primary bg-green-500 hover:bg-green-700 text-white text-sm font-semibold py-2 px-4 rounded" asp-page="">Verzenden</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}