@model project_c.Controllers.admin.FilterController

@{ int pos = (int) ViewData["pos"]; }

@{
    Layout = "";
}

<tr>
    <td>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               type="text" asp-for="FormInput.Options[pos].DisplayName" placeholder="Optie">
        <span class="text-red-500 text-xs italic" asp-validation-for="FormInput.Options[pos].DisplayName"></span>
        <input type="hidden" value="@pos" asp-for="FormInput.Options[pos].Position"/>
    </td>
    <td>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-3 rounded focus:outline-none focus:shadow-outline" 
                type="button" onclick="addField()">+</button>
    </td>
</tr>