@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./color.scss";

@import "./plant.scss";

$brand-color: white;

body{
  background-color: $brand-color;
}

main{
  min-height: 80vh;
}

.home-banner{
  background-image: url("/Images/home-banner.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: center center;
}