@{
    ViewData["Title"] = "ContactPage";
}
<div class="font-sans leading-relaxed inline">
    <div class="block h-full w-full mx-auto flex pt-3 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://stadskwekerijdekas.nl/wp-content/uploads/2018/10/KLEUR_001-1.png'); height: 60vh; max-height: 460px;">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-4xl text-white font-semibold">Contact</h1>
            </div>
        </div>
    </div>
    <h1 class="text-center text-4xl text-white font-semibold"></h1>
    <p class="text-gray-700 font-sans text-xl ml-0">
        Voor verdere vragen is is het mogelijk contact met ons op te nemen op <a class="text-green-700" asp-area="" asp-controller="Faq" asp-action="Index">deze pagina</a>.
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Bereikbaarheid</h1>
        "Plantjesbuurt wordt gerund door de eigenaren van Stadskwekerij De Kas. Iedereen is uiteraard van harte welkom een bezoekje te brengen! Wij zijn het makkelijkst te bereiken per fiets of lopend. We zitten immers in het hartje van de stad.
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Openbaar vervoer</h1>
        Bus 33: 2 min. lopen vanaf halte Metrostation Blijdorp<br />
        Metro Lijn E: 3 min. lopen vanaf Metrostation Blijdorp<br />
        Trein: 10 min. lopen vanaf Rotterdam CS
    </p>`
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Per Auto</h1>
        Wij raden af per auto te komen. De parkeerdruk in de wijk Blijdorp is hoog. Het parkeertarief is ca. 2 euro per uur (ma-za van 9 tot 18 uur). Gratis parkeren kan op de parkeerplaats van Tennisclub Aeolus-Oledo aan de Stadhoudersweg die bereikbaar is via het Vroesenpad. <br />
        Voor minder validen zijn enkele parkeerplaatsen beschikbaar op het terrein.<br />
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Stadskwekerij De Kas</h1>
        Van Beuningenstraat 22<br />
        3039 WE Rotterdam<br />
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Marja Versteeg</h1>
        06 23 05 77 61<br />
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Eva Bes</h1>
        06 21 43 54 78<br />
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Email adres</h1>
        info@stadskwekerijdekas.nl<br />
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Openingstijden</h1>
        ma: 10 – 12 uur<br />
        do: 10 – 16 uur<br />
        vr: 16 – 19 uur (Rechtstreex<br />
        za: 10 – 11 uur (Rechtstreex)<br />
        <br />
        KvK: 71199357<br />
        IBAN: NL79TRIO0379220407
    </p>

</div>