@{
    ViewData["Title"] = "Onze missie";
}
<div class="font-sans leading-relaxed inline">
    <div class="block h-full w-full mx-auto flex pt-3 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/78961419_777804459369387_4870558094087684096_o.jpg?_nc_cat=105&ccb=2&_nc_sid=e3f864&_nc_ohc=Hx5oKAnn8_oAX9acvMP&_nc_ht=scontent-amt2-1.xx&oh=81084decf1e7f7b861f1e41cb8e9dd2c&oe=5FFE853A'); height: 60vh; max-height: 460px;">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-4xl text-white font-semibold">Onze missie</h1>
            </div>
        </div>
    </div>
    <h1 class="text-center text-4xl text-white font-semibold"></h1>
        <p class="text-gray-700 font-sans text-xl ml-0">Met Stadskwekerij De Kas willen we een bijdrage leveren aan biodiversiteit in de stad. Dit doen we door aandacht te vragen voor meer natuurlijk groen en het gebruik van regenwater. We richten ons daarbij op duurzame en betaalbare oplossingen.</p>
        <p class="text-gray-700 font-sans text-xl ml-0">Tegelijkertijd willen we met onze projecten een verbindende rol vervullen voor groeninitiatieven en bewoners in de wijk.</p>
        <p class="text-gray-700 font-sans text-xl ml-0">Leidende waarden voor ons zijn: biodiversiteit, verbinding en toegankelijkheid. Ons werk doen we zoveel mogelijk met gesloten kringlopen en volgens het principe van cradle to cradle.</p>
        <p class="text-gray-700 font-sans text-xl ml-0">Leidende waarden voor ons zijn: biodiversiteit, verbinding en toegankelijkheid. Ons werk doen we zoveel mogelijk met gesloten kringlopen en volgens het principe van cradle to cradle.</p>
        <p class="text-gray-700 font-sans text-xl ml-0">Met natuurlijk groen bedoelen we: groen dat een meerwaarde heeft voor dieren, waaronder vogels, vlinders, hommels en bijen. Planten die in de natuur voorkomen, spelen daarin een hoofdrol.</p>

</div>