@{
    ViewData["Title"] = "Ons";
}
<div class="font-sans leading-relaxed inline">
    <div class="block h-full w-full mx-auto flex pt-3 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/78961419_777804459369387_4870558094087684096_o.jpg?_nc_cat=105&ccb=2&_nc_sid=e3f864&_nc_ohc=Hx5oKAnn8_oAX9acvMP&_nc_ht=scontent-amt2-1.xx&oh=81084decf1e7f7b861f1e41cb8e9dd2c&oe=5FFE853A'); height: 60vh; max-height: 460px;">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-4xl text-white font-semibold">Wie zijn wij</h1>
            </div>
        </div>
        </div>
            <h1 class="text-center text-4xl text-white font-semibold"></h1>
            <p class="text-gray-700 font-sans text-2xl ml-0">Stadskwekerij De Kas is een bewonersinitiatief van Eva Bes en Marja Versteeg, twee tuinvrouwen uit Rotterdam Noord met hart voor de natuur én voor mensen. Samen met al onze vrijwilligers, zetten we ons in voor de biodiversiteit in de stad én voor de verbinding tussen mensen en organisaties.</p>
            <p class="text-gray-700 font-sans text-2xl ml-0">Thuisbasis van Stadskwekerij De Kas is een kassencomplex in het hartje van Rotterdam. Daar hebben we een duurzame kwekerij met inspiratietuin. In 2020 groeide de vraag naar onze gifvrije plantjes. Het frustreerde ons dat we door ruimte- en tijdgebrek niet konden voldoen aan deze vraag. Tegelijkertijd boden steeds meer bewoners ons spontaan hun zaailingen en stekjes aan. Toen ontstond al snel het idee een digitaal platform te ontwikkelen waar we vraag en aanbod bij elkaar kunnen komen. Studenten van de Hogeschool Rotterdam schoten ons te hulp en zo onstond </p>
            <p class="text-gray-700 font-sans text-2xl ml-0">_ biedt een platform waarop alle groenliefhebbers planten én kennis met elkaar kunnen delen. Zodat we samen één grote duurzame kwekerij vormen die zich inzet voor een gifvrije, betaalbare en groene wereld.</p>
</div>