@{
    ViewData["Title"] = "Partners";
}
<div class="font-sans leading-relaxed inline">
    <div class="block h-full w-full mx-auto flex pt-3 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/78961419_777804459369387_4870558094087684096_o.jpg?_nc_cat=105&ccb=2&_nc_sid=e3f864&_nc_ohc=Hx5oKAnn8_oAX9acvMP&_nc_ht=scontent-amt2-1.xx&oh=81084decf1e7f7b861f1e41cb8e9dd2c&oe=5FFE853A'); height: 60vh; max-height: 460px;">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-4xl text-white font-semibold">Onze partners</h1>
            </div>
        </div>
    </div>
    <h1 class="text-center text-4xl text-white font-semibold"></h1>
   <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Huidige partners</h1>
        Groen010<br />
        Stichting Tussentuin<br />
        Rechtstreex<br />
        de Goede Vissers<br />
        TU-Delft<br />
        Duizel in het Park<br />
        SOL/DOCK<br />
        Atelier op Wielen<br />
        Blik in de Wijk<br />
        Bewonersorganisatie Blijdorp<br />
        diverse wijkbewoners
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0">
        <h1 class="text-gray-700 font-bold text-xl ml-0">Financiele partners</h1>
        Stadskwekerij De Kas kan groeien dankzij financiële partners die geloven in ons project en ons het vertrouwen geven om met hun financiële ondersteuning een volgende stap te maken. Ons project wordt mede mogelijk gemaakt door:
    </p>
    <div class="flex ...">
        <div class="flex-1 ..."><a href="https://www.watersensitiverotterdam.nl/" target="_blank" ><img src="https://stadskwekerijdekas.nl/wp-content/uploads/2018/10/water-sensitive-rotterdam-1024x576-1-300x169.jpg"</a></div>
        <div class="contents">
            <div class="flex-1 ..."><a href="https://www.schielandendekrimpenerwaard.nl/" target="_blank"><img src="https://stadskwekerijdekas.nl/wp-content/uploads/2018/10/Hoogheemraadschap-Schieland-en-Krimpenerwaard-300x86.jpg" /></a></div>
            <div class="flex-1 ..."><img src="https://stadskwekerijdekas.nl/wp-content/uploads/2019/02/Blijdorp_logo_01_RGB-scherm-300x300.png"></div>
        </div>
        <div class="flex-1 ..."><a href="https://www.milieucentrum.rotterdam.nl/" target="_blank"><img src="https://stadskwekerijdekas.nl/wp-content/uploads/2018/10/rmc-jpg-300x169.jpg"></a></div>
    </div>
</div>