@{
    ViewData["Title"] = "Partners";
}
<div class="font-sans leading-relaxed inline">
    <div class="block h-full w-full mx-auto flex pt-3 md:pt-0 md:items-center bg-cover bg-right" style="background-image: url('https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/78961419_777804459369387_4870558094087684096_o.jpg?_nc_cat=105&ccb=2&_nc_sid=e3f864&_nc_ohc=Hx5oKAnn8_oAX9acvMP&_nc_ht=scontent-amt2-1.xx&oh=81084decf1e7f7b861f1e41cb8e9dd2c&oe=5FFE853A'); height: 60vh; max-height: 460px;">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-4xl text-white font-semibold">Onze partners</h1>
            </div>
        </div>
    </div>
    <h1 class="text-center text-4xl text-white font-semibold"></h1>
    <p class="text-gray-700 font-sans text-xl ml-0">Verbinding is één van onze kernwaarden. Stadskwekerij De Kas wil een brug slaan tussen organisaties en initiatieven die met groen en water bezig zijn. Daarnaast willen we ruimte creëren voor bewoners in de wijk, waardoor zij zich weer verbonden voelen met hun omgeving.</p>
    <p class="text-gray-700 font-sans text-xl ml-0 text-bold">Huidige partners</p><br />
    <p class="text-gray-700 font-sans text-xl ml-0">
        Groen010<br />
        Stichting Tussentuin<br />
        Rechtstreex<br />
        de Goede Vissers<br />
        TU-Delft<br />
        Duizel in het Park<br />
        SOL/DOCK<br />
        Atelier op Wielen<br />
        Blik in de Wijk<br />
        Bewonersorganisatie Blijdorp<br />
        diverse wijkbewoners
    </p>
    <p class="text-gray-700 font-sans text-xl ml-0 text-bold">Financiele partners</p><br />
    <p class="text-gray-700 font-sans text-xl ml-0">
        Stadskwekerij De Kas kan groeien dankzij financiële partners die geloven in ons project en ons het vertrouwen geven om met hun financiële ondersteuning een volgende stap te maken. Ons project wordt mede mogelijk gemaakt door:
    </p>
    <div class="flex ...">
        <div class="flex-1 ...">1</div>
        <div class="contents">
            <div class="flex-1 ...">2</div>
            <div class="flex-1 ...">3</div>
        </div>
        <div class="flex-1 ...">4</div>
    </div>
</div>