@{
    ViewData["Title"] = "Your profile";
}

<!-- eslint-disable -->

<div class="inline-block bg-white my-2 pb-6 h-full w-full overflow-hidden    rounded-lg shadow-sm mx-auto">
    <div class="relative h-40">
        <img class="absolute h-full w-full object-cover" src="https://www.groenrijk.nl/files/images/news/bijenvrienden-tuinplanten-van-de-maand-juli-2019-1560423371-1560423518_n.jpg">
    </div>
    <div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
        <img class="profile-pic object-cover w-full h-full" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
    </div>
    <div class="mt-16">
        <h1 class="text-lg text-center font-semibold">
            Username
        </h1>
        <p class="text-sm text-gray-600 text-center">
            If you're looking to trade, you're at the right place.
        </p>
    </div>
    <div class="mt-6 pt-3 flex flex-wrap mx-6 border-t">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <a href="#">
                <img class="w-full plant-image" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3668814295,262616680&fm=26&gp=0.jpg" alt="plantfoto">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Leuk asdasdasdasdssadas dasdplantje</div>
                </div>
            </a>
        </div>
    </div>
</div>
        <div class="justify-center text-center items-center inline-flex grid grid-cols-12">
            <div class="gap-4 inline-block" style="min-height: 100px">
                <div class="max-w-sm rounded overflow-hidden shadow-lg inline-block">
                </div>
            </div>
        </div>