@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="leading-relaxed font-sans text-2xl text-gray-600 mt-8">
    <h2 class="text-3xl text-green-500 font-semibold">Algemene voorwaarden</h2>
    <p class="text-gray-600 font-sans text-2xl ml-0">1.	Op … (naam ruilapp) worden alleen tuinplanten aangeboden. Het gaat ons immers om de biodiversiteit..</p>
    <p class="text-gray-600 font-sans text-2xl ml-0">2.	Het plantmateriaal dat je aanbiedt, is – voor zover je weet - gekweekt zonder pesticiden of andere gifstoffen.</p>
    <p class="text-gray-600 font-sans text-2xl ml-0">3.	… (naam ruilapp) is een platform om te ruilen en/of te delen met elkaar. Het platform is niet bedoeld voor commerciële doeleinden. Er wordt dus niet gehandeld met geld</p>
    <p class="text-gray-600 font-sans text-2xl ml-0">4.	Op … (naam ruilapp) mag je geen planten aanbieden die kweekrechtelijk beschermd zijn. Een plant is kweekrechtelijk beschermd als er PBR of PFAFF achter de plantnaam staat, maar soms staat er ook ®. <br>Kijk hiervoor op: <a class="text-blue-500 underline hover:text-blue-700" href="https://www.plantago.nl/kwekersrecht.html">Plantago</a></p>
    <p class="text-gray-600 font-sans text-2xl ml-0">5.	… (naam ruilapp) is niet verantwoordelijk voor de kwaliteit van het aanbod. Wij proberen de kwaliteit van het aanbod hoog te houden door je in de gelegenheid te stellen de aanbieder en het product achteraf een beoordeling te geven.</p>
    <p class="text-gray-600 font-sans text-2xl ml-0 inline">6.	We willen graag stimuleren dat het delen en ruilen zo duurzaam mogelijk gebeurt. Daarom zie je bij ieder aanbod direct op welke afstand jet het kunt vinden. We zouden het tof vinden als je de planten zoveel mogelijk lopend, fietsend of met het OV gaat halen.</p>
</div>
