@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Wachtwoord wijzigen";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="bg-white">
    <div class="h-8 rounded-lg border shadow-lg bg-white sm:mx-0 h-full">
        <div class="h-30 grid grid-cols-1 md:grid-cols-2 p-5">
            <div>
                <form id="change-password-form" method="post">
                    <h4 class="text-3xl text-bold text-green-500 font-medium">@ViewData["Title"]</h4>
                    <div class="mb-3">
                        <label asp-for="Input.OldPassword" class="block text-sm font-medium text-gray-700">Huidig wachtwoord</label>
                        <input placeholder="Huidig wachtwoord" asp-for="Input.OldPassword" class="box-border h-8 w-full sm:w-9/12 p-4 flex-grow h-8 px-2 border rounded border-grey-400">
                        <span asp-validation-for="Input.OldPassword" class="block mb-3 text-sm font-medium text-red-700"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.NewPassword" class="block text-sm font-medium text-gray-700">Nieuw wachtwoord</label>
                        <input placeholder="Nieuw wachtwoord" asp-for="Input.NewPassword" class="box-border h-8 w-full sm:w-9/12 p-4 flex-grow h-8 px-2 border rounded border-grey-400">
                        <span asp-validation-for="Input.NewPassword" class="block mb-3 text-sm font-medium text-red-700"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="block text-sm font-medium text-gray-700">Bevestig wachtwoord</label>
                        <input placeholder="Bevestig wachtwoord" asp-for="Input.ConfirmPassword" class="box-border h-8 w-full sm:w-9/12 p-4 flex-grow h-8 px-2 border rounded border-grey-400">
                        <span asp-validation-for="Input.ConfirmPassword" class="block mb-3 text-sm font-medium text-red-700"></span>
                    </div>
                    <button type="submit" class="w-full sm:w-9/12 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Pas wachtwoord aan</button>
                    <partial name="_StatusMessage" for="StatusMessage" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}