@model IQueryable<Chat>
@using project_c.Models.Chat
@{

    ViewData["Title"] = "Index";
}
<style>
    .mainheader {
        background-color: #33cc33;
        padding: 20px 20px 20px 20px;
        text-align: center;
        text-decoration-color: #000000;
    }
</style>

<h2 class="mainheader">Huidige Chats</h2>
<div class="main">
    <div class="px-0 flex">
        <div>
            @foreach (Chat chat in Model)
            {

            }
        </div>
    </div>
</div>

