@model IQueryable<Chat> 
@using project_c.Models.Chat
@{
    
    ViewData["Title"] = "Index";
}
    <style>
        .startnewchat{
            border-width: 2px 2px 2px 2px;
        }
    </style>


<div>
    <button class="startnewchat">Begin een nieuwe Chat</button>
</div>

