@model IQueryable<Chat> 
@using project_c.Models.Chat
@using project_c
@{
    
    ViewData["Title"] = "Index";
}
    <style>
    </style>
<div>
    <span>Met wie wil je chatten?</span>
</div>
<div>
   
</div>


