@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1></h1>
<body class="font-normal m-auto bg-white">
    <div class="bg-white m-auto h-screen w-screen">
        <div class="items-center my-auto justify-center flex-1 px-6 sm:px-0">
            <div class="h-8 w-102 flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 400px">
                <div class="flex flex-col m-auto w-full md:w-1/2 p-4">
                    <div class="flex flex-col flex-1 justify-center mb-8">
                        <div class="text-2xl"><b>Uw account is bevestigt.</b></div>
                        <div>U kan nu inloggen op uw Plantjes account.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>