@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Wachtwoord vergeten?";
}
<body class="font-normal bg-white">
    <div class="bg-white mt-6">
        <div class="items-center flex-1 justify-center px-6 sm:px-0">
            <div class="h-8 w-102 flex rounded-lg shadow-lg bg-white sm:mx-0" style="height: 600px">
                <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg" style="background: url('https://www.tuinen.nl/wp-content/uploads/sites/12/2019/01/planten_stekken_FMDB_0-730x413.jpg'); background-size: cover; background-position: center center;"></div>
                <div class="flex flex-col w-full md:w-1/2 p-4">
                    <div class="flex flex-col flex-1 justify-center mb-8">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="text-4xl text-center font-bold">@ViewData["Title"]</h1>
                                <h2 class="text-xl text-center font-thin">Voer je e-mail adres in om je wachtwoord opnieuw in te stellen</h2>
                                <section>
                                    <div class="w-full mt-4">
                                        <form class="form-horizontal w-3/4 mx-auto" method="post">
                                            <div class="flex flex-col mt-4">
                                                <div asp-validation-summary="All" class="text-red-700"></div>
                                                <div class="form-group flex flex-col mt-4">
                                                    <label asp-for="Input.Email"></label>
                                                    <input asp-for="Input.Email" class="box-border h-8 w-102 p-4 flex-grow h-10 px-2 border rounded border-grey-400 form-control focus:outline-none focus:shadow-outline" />
                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                </div>
                                                <div class="flex flex-col mt-8 form-group">
                                                    <button type="submit" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white text-sm font-semibold py-2 px-4 rounded mb-8">Versturen</button>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
                            @section Scripts {
                                <partial name="_ValidationScriptsPartial" />
                            }
