@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1></h1>

    <body class="font-normal m-auto bg-white">
        <div class="bg-white m-auto mt-6">
            <div class="items-center my-auto justify-center flex-1 px-6 sm:px-0">
                <div class="h-8 w-102 flex rounded-lg shadow-lg sm:mx-0" style="height: 400px">
                    <div class="flex flex-col m-auto w-full md:w-1/2 p-4">
                        <div class="flex flex-col flex-1 justify-center mb-8">
                            <div class="text-2xl"><b>U kunt bijna inloggen.</b></div>
                            <div>U moet eerst uw account bevestigen door te klikken op de link die naar uw email gestuurd is voordat u kan inloggen op uw Plantjes account.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

