@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jouw wachtwoord is succesvol gewijzigd!";
}

<div class="w-full">
    <div class="h-2 bg-indigo"></div>
    <div class="flex items-start h-screen">
        <div class="container bg-white mx-24 shadow-lg rounded">
            <div class="px-12 py-6">
                <div class="max-w-sm mx-auto p-1 pr-0 flex items-center text-center justify-center">
                    <div class="w-full text-center">
                        <h1 class="font-normal text-3xl text-center justify-center leading-loose whitespace-no-wrap my-3 w-full flex mr-6">@ViewData["Title"]</h1>
                        <p>
                            Je kan nu met je nieuw wachtwoord inloggen  <a class="underline text-green-500 hover:text-green-700"  asp-page="./Login">
                            <br>klik hier om te inloggen.</a>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
