@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Wachtwoord Herstellen";
}

<body class="font-normal bg-white">
    <div class="bg-white mt-6">
        <div class="items-center flex-1 justify-center px-6 sm:px-0">
            <div class="h-8 w-102 flex rounded-lg shadow-lg bg-white sm:mx-0" style="height: 600px">
                <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg" style="background: url('https://www.tuinen.nl/wp-content/uploads/sites/12/2019/01/planten_stekken_FMDB_0-730x413.jpg'); background-size: cover; background-position: center center;"></div>
                <div class="flex flex-col w-full md:w-1/2 p-4">
                    <div class="flex flex-col flex-1 justify-center mb-8">
                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="text-4xl text-center font-bold text-green-500">@ViewData["Title"]</h1>
                                <h2 class="text-xl text-center font-thin">Voer uw e-mailadres en nieuwe wachtwoord in</h2>
                                <section>
                                    <div class="w-full mt-4">
                                        <form class="form-horizontal w-3/4 mx-auto" method="post">
                                            <div class="flex flex-col mt-4">
                                                <div asp-validation-summary="ModelOnly" class="text-red"></div>
                                                <input asp-for="Input.Code" type="hidden" />
                                                <div class="form-group flex flex-col mt-4">
                                                    <label asp-for="Input.Email"></label>
                                                    <input asp-for="Input.Email" class="form-control box-border h-8 w-102 p-4 flex-grow h-10 px-2 border rounded focus:border-green-500 focus:outline-none focus:ring" />
                                                    <span asp-validation-for="Input.Email" class="text-red-600 font-bold text-sm"></span>
                                                </div>
                                                <div class="form-group flex flex-col mt-4">
                                                    <label asp-for="Input.Password"></label>
                                                    <div class="flex items-center relative">
                                                         <input asp-for="Input.Password" class="form-control box-border h-8 w-102 p-4 flex-grow h-10 px-2 border rounded focus:border-green-500 focus:outline-none focus:ring" />
                                                         <span class="absolute right-0 mr-3 cursor-pointer" data-toggle="password" data-target="#Input_Password" data-class-active="text-purple-600">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle>
                                                            </svg>
                                                        </span>
                                                        </div>
                                                    <span asp-validation-for="Input.Password" class="text-red-600 font-bold text-sm"></span>
                                                </div>
                                                <div class="form-group flex flex-col mt-4">
                                                    <label asp-for="Input.ConfirmPassword"></label>
                                                    <div class="flex items-center relative">
                                                         <input asp-for="Input.ConfirmPassword" class="form-control box-border h-8 w-102 p-4 flex-grow h-10 px-2 border rounded focus:border-green-500 focus:outline-none focus:ring" />
                                                         <span class="absolute right-0 mr-3 cursor-pointer" data-toggle="password" data-target="#Input_ConfirmPassword" data-class-active="text-purple-600">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-600 font-bold text-sm"></span>
                                                </div>
                                                <div class="flex flex-col mt-8 form-group">
                                                    <button type="submit" class="btn btn-primary bg-green-500 hover:bg-green-700 text-white text-sm font-semibold py-2 px-4 rounded mb-8">Herstel Wachtwoord</button>
                                                </div>
                                                </div>
                                        </form>
                                    </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

                        @section Scripts {
                            <partial name="_ValidationScriptsPartial" />
                        }
