@model project_c.ViewModels.EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
    Layout = "_Layout";
}

<h1 class="text-4xl text-center m-2">Rollen beheren</h1>
    <table class="border-collapse w-full table-fixed">
        <thead>
            <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                <th class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    Rol Id
                </th>
                <th class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                    Rol
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">card-header</span>
                    <input asp-for="Id" disabled>
                </td>
                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">card-name</span>
                    <input class="text-center" asp-for="RoleName" disabled>
                </td>
            </tr>
            <tr class="bg-gray-400 lg:hover:bg-gray-500 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                <th colspan="2" class="w-full lg:w-auto p-3 text-gray-800 text-center text-xl border border-b block lg:table-cell relative lg:static">Gebruikers in deze rol</th>
            </tr>
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                   <tr>
                       <td colspan="2" class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">@user</td>
                   </tr>
                }
            }
            else
            {
                <tr>
                    <td>Geen gebruikers in deze rol</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer flex justify-center">
        <a asp-controller="Administration" asp-action="EditUsersInRole"
           asp-route-roleId="@Model.Id" class="btn btn-primary bg-green-500 text-white p-2 px-8 mt-6 hover:bg-green-700 rounded" style="width:auto">
            Toevoegen of verwijderen gebruiker
        </a>
    </div>
