@model IQueryable<Plant>;
@using project_c.Models.Plants;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Single plant</h2>
<div class="flex mb-4">
    @{
        foreach (var plant in Model)
        {
            <div class="w-1/3 bg-gray-400 h-12">
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="@plant.ImgUrl" alt="Plant foto">
                    <div class="px-6 py-4">
                        <h6>Naam:</h6><div class="font-bold text-xl mb-2">@plant.Name</div>
                        <h6>Beschrijving:</h6><p class="text-gray-700 text-base">
                            @plant.Description
                        </p>
                        <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                           href="/plants/edit/@plant.PlantId">Edit</a>
                        @using(Html.BeginForm("Delete","Plants", new { id = plant.PlantId}, FormMethod.Post))
                        {
                            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" 
                                    type="submit">Delete</button>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>