@model IQueryable<Plant>; 
@using project_c.Models.Plants;
@using Microsoft.AspNetCore.Identity
@using static project_c.Controllers.PlantsController;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Planten</h2>
<form asp-action="Index" method="get">
    <input type="text" name="naam" placeholder="Voer een plant naam in">
    <button type="submit">Zoeken</button>
</form>
<div class="grid grid-cols-12">
    @* Filters in frontend *@
    <div class="col-span-3"></div>
    @* Plant overview *@
    <div class="col-span-9 grid grid-cols-3 gap-4" style="min-height: 100px">
        @{
            foreach (var plant in Model)
            {
                if (plant.HasBeenApproved) {
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <a href="/plants/details/@plant.PlantId">
                        <img class="w-full plant-image" src="@plant.ImgUrl" alt="@plant.Name">
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">@plant.Name</div>
                        </div>
                    </a>
                </div>
                    }
                }
            }
    </div>
</div>