@model IQueryable<Plant>;
@using project_c.Models.Plants;
@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "Mijn planten";
    Layout = "_Layout";
}
<h1>Mijn Planten</h1>
<div class="flex mb-4">
    @foreach (var plant in Model)
    {
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="@plant.ImgUrl" alt="Plant foto" style="width: 300px;height: 300px;object-fit: cover;">
            <div class="px-6 py-4">
                <h6>Naam:</h6>
                <div class="font-bold text-xl mb-2">@plant.Name</div>
                <h6>Lengte:</h6>
                <div class="font-bold text-xl mb-2">@plant.Length&nbsp;mm</div>
                <h6>Beschrijving:</h6>
                <p class="text-gray-700 text-base">@plant.Description</p>
                <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                   href="/plants/edit/@plant.PlantId">Edit</a>
                @using (Html.BeginForm("Delete", "Plants", new {id = plant.PlantId}, FormMethod.Post))
                {
                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                            type="submit">
                        Delete
                    </button>
                }
            </div>
        </div>
    }
</div>
<a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-600 hover:bg-green-100 focus:outline-none focus:text-white focus:bg-gray-700" asp-controller="Plants" asp-action="Create">Plant toevoegen</a>